@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --space-0: 0;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 12px;
  --space-4: 20px;
  --space-5: 32px;
  --space-6: 52px;
  --space-7: 84px;
  --space-8: 136px;
  --space-9: 220px;

  --font-family-sans: Inter;
  --font-family-serif: PT Serif;
  --font-family-mono: IMB Plex Mono;

  --white: #fff;

  --max-width-0: 320px;
  --max-width-1: 768px;
}

html {
  background-color: var(--white);
  font-family: var(--font-family-sans), var(--font-family-serif), sans-serif;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}

/* Layout */
.container {
  margin: 0 auto;
}

main {
  margin-top: 45px;
}

@media (min-width: 575px) {
  .container {
    max-width: var(--max-width-1);
    padding: 0 var(--space-4);
  }

  main {
    margin-top: unset;
  }
}
